<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Booking system">
    <meta name="author" content="Some Guy">

    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style>
      div.spacer {
        margin-top: 100px;
      }
    </style>
  </head>
</html>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Company Name</a>
      </div><!-- .navbar-header -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">About</a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-envelope"></span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
              role="button" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span> 
              mross <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-cog"></span> Account
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- .container -->
  </nav>

  <div class="row spacer">
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome back!</h1>
        <p>
          Been a while since your last visit? 
          <a class="btn btn-success btn-lg" href="#">
            <span class="glyphicon glyphicon-search"></span>
            Find a doctor
          </a>
        </p>
      </div>
    </div>
  </div><!-- .row space -->

  <div class="row">
    <div class="container">
      <div class="col-sm-3">
        <img class="img img-responsive" src="http://placehold.it/200x200" />
        <h3>Mike Ross</h3>
        <p>
          <span class="glyphicon glyphicon-calendar"></span> 
          Joined 21 days ago
        </p>
      </div>

      <div class="col-sm-9">
        <div id="appointment">
        </div><!-- #appointment -->
      </div>
    </div><!-- .container -->
  </div><!-- .row -->

  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <h2>Featured Doctors</h2>

        <div id="featured_doctors">
        </div><!-- #featured_doctors -->
      </div>
    </div>
  </div><!-- .row -->

  <script src="https://fb.me/react-0.13.3.js"></script>
  <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/jsx" src="static/js/appointments.js"></script>
  <script type="text/jsx" src="static/js/doctors.js"></script>
</body>
